.nav--container {
  width: 100%;
  margin-bottom: 50px;
}
.header--header-row {
  background: #F2F2F2;
  color:  #666666;
  margin: -10px;
}

.header--header-navItemBase {
  margin: 10px;
}

.header--header-logo {
  composes: header--header-navItemBase;
  fontSize: 2em;
}

.header--header-nav {
  display: flex;
  flex-direction: row;
}

.header--header-navitem {
  composes: header--header-navItemBase;
}

.header--header-navitem:hovered {
  color: #31adb8;
}
