.roll--container {
  display: flex;
  flex-direction: column;
}

.roll--input {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}

.roll--centered {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.roll--label {
  font-size: 2em;
}

.roll--label:first-child {
  margin-right: 2em;
  display: inline-block;
}
