.tracker--creature {
}

.tracker--creature-main {
  font-size: 2em;
}

.tracker--creature-avatar {
  width: 100%;
}

.tracker--creature-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tracker--creature-useable {
  font-size: 12px;
  margin-right: 5px;
  flex: 1;
  max-width: 100%;
}

.tracker--creature-useable-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tracker--creature-labeled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: 60px;
  padding: 10px;
  margin-right: 5px;
  flex: 1;
}

.tracker--creature-value {
  font-family: monospace;
  font-weight: bold;
}

.tracker--creature-labeled-value {
  composes: tracker--creature-value;
  font-size: 22px;
}

.tracker--creature-labeled-label {
  composes: tracker--creature-value;
  font-size: 12px;
}
